body {
    background-color: #acd5fd;
}

a {
    border: 1px solid black;
    border-radius: 12px;
    background: darkcyan;
    padding: 0.2em 1em;
}

/* COMMON */

.item-desc {
    display: inline-block;
    border-radius: 12px;
    border: 1px solid black;
    background-color: #ffccdd;
    padding: 0.3em 1em;
    vertical-align: middle;
}

.item-desc svg {
    margin: 0 1em;
}

.item-quantity {
    border-radius: 12px;
    border: 1px solid black;
    background-color: #ccdddd;
    padding: 0.3em 1em;
}

/* TOP MENU */

#top-menu {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
    overflow: hidden;
}

#top-menu li {
    float: left;
}

#top-menu li a {
    display: block;
    color: #111;
    text-align: center;
    margin: 0 1em;
    text-decoration: none;
}

#top-menu li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#top-menu li.active {
    background-color: black;
}

#top-menu li.active a {
    text-decoration: underline;
    color: lightgreen;
}

/* VIEW_ITEM */
#view-item ul,
#myUL {
    list-style-type: none;
}

/* Remove margins and padding from the parent ul */
#view-item #myUL {
    margin: 0;
    padding: 0;
}

/* Style the caret/arrow */
#view-item .caret {
    cursor: pointer;
    user-select: none;
    /* Prevent text selection */
}

/* Create the caret/arrow with a unicode, and style it */
#view-item .caret::before {
    content: "\25B6";
    color: black;
    display: inline-block;
    margin-right: 6px;
}

/* Keep the space before item if the is no child */
#view-item .invisible.caret::before {
    color: transparent;
}

/* Rotate the caret/arrow icon when clicked on (using JavaScript) */
#view-item .caret-down::before {
    transform: rotate(90deg);
}

/* Hide the nested list */
#view-item .nested {
    display: none;
}

/* Show the nested list when the user clicks on the caret/arrow (with JavaScript) */
#view-item .active {
    display: block;
}