body {
    background-color: #acd5fd;
}

/* TOP MENU */

#top-menu {
    list-style-type: none;
    margin: 0.5em;
    padding: 0;
    overflow: hidden;
}

#top-menu li {
    float: left;
}

#top-menu li a {
    display: block;
    color: #111;
    text-align: center;
    padding: 3px 3px;
    margin: 0 1em;
    text-decoration: none;
}

#top-menu li a:hover {
    cursor: pointer;
    text-decoration: underline;
}

#top-menu li.active {
    background-color: black;
}

#top-menu li.active a {
    text-decoration: underline;
    color: lightgreen;
}
